.App {
  position: relative;
  width: 100%;
  hmin-eight: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffbf56;
  font-family: sans-serif;
}
