.App {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffbf56;
  font-family: sans-serif;
  padding: 50px 20px;
}
